/* MISC */
@import url('https://fonts.googleapis.com/css?family=Arvo:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

:root {
    --main-color1: #062131;
}

body, html {
    background-color: var(--main-color1);
    font-family: 'Open sans', sans-serif;
    height: 100%;
    margin: 0;
    color: white;
}

body {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 5, 0.7)), url('../media/backgrounds/poly1.jpg');
}

/* BACKGROUNDS */
#header {
    height: 10%;
}

#content {
    min-height: 90%;
}



/* TEXT */
h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    display: inline-block;
    color: #fff;
    font-weight: 300;
}
    h1 {
        font-size: 4em;
        font-weight: 400;
    }
    h2 {
        font-size: 2.5em;
    }
    h3 {
        font-size: 1.5em;
    }
    h4 {
        font-size: 1em;
    }

.content-link:link, .content-link:visited, .content-link:active {
    color: orange;
    text-decoration: none;
}

.content-link:hover {
    color: dodgerblue;
}


/* COMMON */
.left, .right {
    padding: 2%;
}
.left {
    float: left;
}
.right {
    overflow: auto;
}

.light {
    background-color: rgba(6, 33, 49, 0.70);
}
.dark {
    background-color: rgba(6, 33, 49, 0.90);
}

.selected {
    color: #fff;
}

.unselected {
    color: #888;
}

.unselected:hover {
    transition: color .05s ease-in-out;
    color: #CCC;
}

/* CONTENT */
.form {
    background-color: rgba(6, 33, 49, 0.80);
    color: #fff;
    padding: 7px;
    border: 1px rgb(26, 53, 69) solid;
}

#event-view-selectors {
    display: inline-block;
}

#signup-form table {
    padding-bottom: 5%;
}

.linkButton {
    padding: 7px;
    border: 0;
}
.linkButton:hover {
    background-color: #4ed87c;
    transition: background-color .25s ease-in-out;
    color: #fff;
}

#logo {
    display: inline-block;
    cursor: pointer;
}

.eventPhoto {
    height: 200px;
    padding: 0.5em;
}

.button {
    color: white;
    padding: 10px 15px;
    display: inline-block;
    font: 300 1em 'Open sans', sans-serif;
    text-decoration: none;
    cursor: pointer;
    border: none;
    text-align: left;
    background-color: rgb(6,33,49);
}
.button:hover {
    transition: background-color .25s ease-in-out;
    background-color: rgb(26,53,69);
}


.navbar-sticky {
    display: inline-block;
    position: fixed;
    top: 1.2em;
    z-index: 100;
    right: 15%;
    margin: 0;
    text-align: right;
}

.container {
    margin-left: 15%;
    margin-right: 15%;
    display: inline-block;
    width: 70%;
}

#eventView-Large {
    width: 100%;
}

.content-inner {
    padding: 2%;
    display: inline-block;
    float: left;
}

#footer-bar {
    display: inline-block;
    margin: 2% 15%;
    color: #acb4b8;
    font-size: 0.7em;
}

#footer-note {
    position: relative;
    width: 40%;
    display: inline-block;
}


#caption {
    margin-right: 15%;
    width: 30%;
}

#eventOptions {
    display: inline-block;
    float: right;
    padding-top: 5pt;
}

.title, .selectable-title {
    margin-right: 1em;
    padding-bottom: 20px;
}

.selectable-title {
    cursor: pointer;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
    .table tr {
        border: solid rgba(6, 33, 49, 0.70);
        border-width: 1px 0px;
        background-color: rgba(0, 0, 0, 0.15);
    }
    .table td, .table th {
        padding: 10px;
    }
    .table .table-row {
        font-weight: 300;
        font-size: 1.2em;
    }
    .table .table-row:hover {
        background-color: rgba(0, 0, 0, 0.05);
        transition: background-color .15s ease-in-out;
    }
    .table .table-header {
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        text-align: left;
        font-weight: 300;
        font-size: 1em;
    }



.eventInfoTable {
    display: inline-block;
}
.eventInfoTable td {
    font-size: 1.5em;
    font-weight: 300;
    padding-right: 1em;
}

.eventInfoDescription {
    padding-left: 3px;
    padding-top: 3%;
    width: 100%;
}

#loginDropdown {
    background-color: var(--main-color1);
    display: none;
}

#accountDropdown {
    background-color: var(--main-color1);
    display: none;
}

.navbar-sticky ul {
    margin-top: 1em;
    margin-bottom: 0;
}

.accountDropdownButton {
    display: block;
}

.login-label {
    margin: 0 0.5em 0 0.5em;
}

#login-form {
    text-align: left;
}

#log-in-button {
    width: 100%;
}

@media only screen and (max-width: 1366px) {
    /* CONTENT */
    @media only screen and (max-width: 768px) {
        /* CONTENT */
        .caption {
            top: 30%;
        }

        .navbar {
            font-size: 0.8em;
            bottom: 5em;
        }

        @media only screen and (max-width: 500px) {
            /* TEXT */
            h3 {
                font-size: 1.5em;
            }

            p, ul {
                font-size: 1.1em;
            }

            /* CONTENT */
            #header .container {
                margin: 5%;
                width: 90%;
            }

            #footer-bar {
                margin: 0;
                padding-top: 1%;
                width: 100%;
            }

            #footer-note {
                display: block;
                width: 100%;
                text-align: center;
            }

            #footer-note {
                font-size: 1.2em;
            }

            .navbar-sticky {
                width: auto;
                height: 5%;
                top: 1.3em;
                right: 5%;
            }

            .navbar-sticky li {
                font-size: 0.6em;
            }
        }
    }
}